md-card(ng-if="vm.note")
    md-card-content
        md-input-container
            label Content
            textarea(ng-model="vm.note.content" ng-change="vm.note.updateHtml()")
        md-checkbox(ng-model="vm.note.public") Public
    div.md-actions(layout="row" layout-align="end center")
            md-button(ui-sref="list") Cancel
            md-button.md-warn(ng-if="vm.note.id" ng-click="vm.deleteNote()") Delete
            md-button.md-primary(ng-click="vm.saveNote()") Save
md-card(ng-if="vm.note")
    md-card-content(ng-bind-html="vm.note.getHtml()")
