md-card
    md-card-content
        md-input-container
            label Content
            textarea(ng-model="vm.note.content" ng-change="vm.note.updateHtml()")
        md-checkbox(ng-model="vm.note.public") Public
    div.md-actions(layout="row" layout-align="end center")
            md-button(ui-sref="list") Cancel
            md-button.md-primary Save
md-card
    md-card-content(ng-bind-html="vm.note.getHtml()")
