doctype html
html
    head
        title Notedown!
    body
        h1 Uh, oh!
        p The page you were trying to acces does not exist.
        p
            | You problably wanted to go to&nbsp;
            a(href="/") the (only) page
            | .
