doctype html
html(ng-app="notedown")
    head
        title Notedown!
body(layout="column")
    md-content(ng-controller="NoteDownController as vm")
        md-toolbar(layout="row")
            div(class="md-toolbar-tools")
                span Notedown!
        md-card
            md-card-content
                p is this production?
                p= production
        md-card
            md-card-content
                p {{ vm.hello }}
        md-card
            md-card-content
                p {{ vm.test('omg! ') }}
        md-card
            md-card-content
                p {{ vm.classTest.sayHello() }}
        md-card
            md-card-content
                p {{ vm.someObject.sayOne() }} 
        md-card
            md-card-content
                p {{ vm.someObject.sayOne(5) }} 
        md-card
            md-card-content
                p {{ vm.users }} 
        md-card
            md-card-content(layout="row" layout-align="space-around center")
                md-button(class="md-raised md-primary" ng-click="vm.updateHello()") update!
                md-button(class="md-raised md-primary" ng-click="vm.someObject.sayOne(132)") say something
                md-button(class="md-raised md-primary" ng-click="vm.spreadFunction([1, 3, 2, 'hello'])") try spread
    if production
        script(type="text/javascript" src="notedown.js")
    else
        script(type="text/javascript" src="jspm_packages/system.js")
        script(type="text/javascript" src="config.js")
        script(type="text/javascript" src="bootstrap.js")
