doctype html
html(ng-app="notedown")
    head
        title Notedown!
body(layout="column")
    md-content(ng-controller="NoteDownController as vm")
        md-toolbar(layout="row")
            div(class="md-toolbar-tools")
                span Notedown!
        md-card(ng-repeat="user in vm.users")
            md-card-content
                p(ng-bind="user.username")
                p(ng-bind="user.first_name")
                p(ng-bind="user.last_name")
                p(ng-bind="user.email")
        md-card
            md-card-content
                p Code:
                p(ng-bind="vm.code") 
                p Token:
                p(ng-bind="vm.token") 
        md-card
            md-card-content(layout="row" layout-align="space-around center")
                md-button(class="md-raised md-primary" ng-click="vm.signIn()") Sign in with Google
    if production
        script(type="text/javascript" src="https://apis.google.com/js/client:platform.js?onload=start" async defer)
        script(type="text/javascript" src="auth.js")
        script(type="text/javascript" src="notedown.js")
    else
        script(type="text/javascript" src="https://apis.google.com/js/client:platform.js?onload=start" async defer)
        script(type="text/javascript" src="app/auth.js")
        script(type="text/javascript" src="jspm_packages/system.js")
        script(type="text/javascript" src="config.js")
        script(type="text/javascript" src="bootstrap.js")
