doctype html
html(ng-app="notedown")
    head
        title Notedown!
        style.
            body {
                color: white;
            }
            [ng-cloak] {
                display: none;
            }
body(layout="row" layout-align="space-around start")
    md-content(layout="column" style="max-width:800px;")
        div(layout="column" layout-align="space-around center")
            h1.md-display-4 Notedown!
        div(ng-controller="UserController as vm" ng-cloak)
            p(ng-if="!vm.user" layout="row" layout-align="space-around center")
                md-button(ng-click="vm.signIn()" class="md-raised md-primary") Sign in with Google
            p(ng-if="vm.user" layout="row" layout-align="space-around center")
                md-button(ui-sref="list" class="md-raised") All notes
                md-button(ui-sref="detail" class="md-raised") New note
                md-button(ng-click="vm.signOut()" class="md-raised") Sign out {{ vm.user.first_name }} {{ vm.user.last_name }}
        div(ui-view)
    if production
        script(type="text/javascript" src="https://apis.google.com/js/client:platform.js" async defer)
        script(type="text/javascript" src="notedown.js")
    else
        script(type="text/javascript" src="https://apis.google.com/js/client:platform.js" async defer)
        script(type="text/javascript" src="jspm_packages/system.js")
        script(type="text/javascript" src="config.js")
        script(type="text/javascript" src="bootstrap.js")
