doctype html
html(ng-app="notedown")
    head
        title Notedown!
        style.
            body {
                color: white;
            }
            [ng-cloak] {
                display: none;
            }
            .md-display-4 {
                font-size: 8rem;
                font-weight: 300;
                letter-spacing: -0.01em;
                line-height: 11.2rem;
            }
body(layout="row" layout-align="space-around start")
    md-content(ng-controller="NotedownController as vm" layout="column" style="max-width:800px;")
        div(layout="column" layout-align="space-around center")
            h1.md-display-4 Notedown!
        md-card(ng-hide="vm.token" ng-cloak)
            md-card-content(layout="row" layout-align="space-around center")
                md-button(ng-click="vm.signIn()") Sign in with Google
        md-card(ng-repeat="note in vm.notes" ng-cloak)
            md-card-content
                p(ng-bind-html="note.getHtml()")
                p
                    span(ng-bind="note.user.email")
                    span(ng-bind="note.edited | date : ' \@ yyyy-MM-dd HH:mm'")
        md-card(ng-repeat="user in vm.users" ng-cloak)
            md-card-content
                p(ng-bind="user.email")
                p(ng-bind="user.first_name")
                p(ng-bind="user.last_name")
    if production
        script(type="text/javascript" src="https://apis.google.com/js/client:platform.js?onload=start" async defer)
        script(type="text/javascript" src="auth.js")
        script(type="text/javascript" src="notedown.js")
    else
        script(type="text/javascript" src="https://apis.google.com/js/client:platform.js?onload=start" async defer)
        script(type="text/javascript" src="app/auth.js")
        script(type="text/javascript" src="jspm_packages/system.js")
        script(type="text/javascript" src="config.js")
        script(type="text/javascript" src="bootstrap.js")
