<!DOCTYPE html>
<html>
<head>
    <title>
        Notedown!
    </title>
</head>
<body>
    <div ng-controller="NoteDownController as vm">
        <p>
            {{ vm.hello }}
        </p>
        <p>
            {{ vm.test('omg! ') }}
        </p>
        <p>
            {{ vm.classTest.sayHello() }}
        </p>
        <p>
            {{ vm.someObject.sayOne() }} 
        </p>
        <p>
            {{ vm.someObject.sayOne(5) }} 
        </p>
        <p>
            <button ng-click="vm.updateHello()">update!</button>
            <button ng-click="vm.someObject.sayOne(132)">say something</button>
            <button ng-click="vm.spreadFunction([1, 3, 2, 'hello'])">try spread</button>
        </p>
    </div>
    <script type="text/javascript" src="bootstrap.js"></script>
</body>
</html>
